<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name=“keywords” content=“Montreal, MO, QC”>
    <meta name=“keywords” content=“connectednarratives, connected narratives, connectedness, story, narratives,
          sociality, social inclusion, inclusion, participation, social accountability, accountability, research, lab,
          laboratory, living laboratory, moral laboratory, qualitative research, phenomenology, autism, dementia,
          invisible disabilities, participatory research, biomusic, movement, sensory, senses, sensory processing,
          interface, interfacing, interdisciplinary, intersectoral, community based, mental health, mental health
          promotion, intersubjectivity, engagement”>

    <meta name=“description” content=“connectednarratives - a Montreal community-based research lab. Conceptual
          framework - Narrative, Phenomenology, Aesthetic. Methodology - Ethnography, Participatory, Mixed.>

    <meta name=“copyright” content=“Copyright 2017 connectednarratives”>
    <meta name=“keywords” content=“melissa, melissa park, meliss park, mel park, mcgill”>
    <% if (htmlWebpackPlugin.options.mobile) { %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <% } %>

    <% if (htmlWebpackPlugin.options.appMountId) { %>
    <div id="<%= htmlWebpackPlugin.options.appMountId %>"></div>
    <% } %>

    <% if (htmlWebpackPlugin.options.googleAnalytics) { %>
    <script type="text/javascript">
      window.GoogleAnalyticsObject='ga';window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;

      <% if (htmlWebpackPlugin.options.googleAnalytics.trackingId) { %>
      ga('create','<%= htmlWebpackPlugin.options.googleAnalytics.trackingId %>','auto');
      <% } else { throw new Error("html-webpack-template requires googleAnalytics.trackingId config"); } %>

      <% if (htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad) { %>
      ga('send','pageview')
      <% } %>
    </script>
    <script async defer src="https://www.google-analytics.com/analytics.js" type="text/javascript"></script>
    <% } %>

</head>
<body>
</body>
</html>
