<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.mobile) { %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <% } %>
    <meta name=“keywords” content=“Montreal, MO, QC”>
    <meta name=“keywords” content=“connectednarratives, connected narratives, connectedness, story, narratives,
          sociality, social inclusion, inclusion, participation, social accountability, accountability, research, lab,
          laboratory, living laboratory, moral laboratory, qualitative research, phenomenology, autism, dementia,
          invisible disabilities, participatory research, biomusic, movement, sensory, senses, sensory processing,
          interface, interfacing, interdisciplinary, intersectoral, community based, mental health, mental health
          promotion, intersubjectivity, engagement”>

    <meta name=“description” content=“connectednarratives - a Montreal community-based research lab. Conceptual
          framework - Narrative, Phenomenology, Aesthetic. Methodology - Ethnography, Participatory, Mixed.>

    <meta name=“copyright” content=“©2017 connectednarratives”>
    <meta name=“keywords” content=“melissa, melissa park, meliss park, mel park, mcgill”>
</head>
<body>
</body>
</html>
