@import 'reset';
@import 'colors';
@import 'fonts';

@include fontFace('Gotham-Bold', '../fonts/Gotham-Bold');
@include fontFace('MinionPro-Regular', '../fonts/MinionPro-Regular');
@include fontFace('Panton-BlackCaps', '../fonts/Panton-BlackCaps');
@include fontFace('Panton-LightCaps', '../fonts/Panton-LightCaps');
@include fontFace('New-Baskerville', '../fonts/new-baskerville');

$HelveticaNeue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bodyGrey: rgba(0, 0, 0, 0.6);

#contentWrapper {
  position: relative;
  margin-top: 1.5em;
  //z-index: -10;
  width: 100%;
}

.content {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  padding: 1.5em;
  padding-top: 1.9em;
  //border: 1px solid red;
}

.contentFull{
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  padding-top: 1.9em;
}
.contentHeader {
  color: $body_orange;
  font-size: 1.3em;
  line-height: 1.2em;
}

.contentBody {
  font-family: $HelveticaNeue;
  color: $bodyGrey;
  font-size: 0.87em;
  line-height: 1.2em;
  margin-top: 0.6em;
  margin-bottom: 2em;

  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.contentBodyEm {
  font-weight: bold;
}

.contentBodyIt {
  font-style: italic;
}

.noTransform {
  text-transform: none !important;
}

.contentFooter {
  font-family: $HelveticaNeue;
  color: $bodyGrey;
  font-size: 0.7em;
  line-height: 1.2em;
  margin-top: 0.6em;
  margin-bottom: 2em;
  font-style: italic;
  text-transform: none;
}

#schedule {
  text-transform: uppercase;

}

.scheduleDay {
  font-size: 0.9em;
  margin-bottom: 1.5em;
  header {
    font-family: $PantonBlackCaps;
    color: $body_orange;
    line-height: 1.3em;
  }

}

.scheduleEvent, .localPanelists {
  display: flex;
  flex-flow: row;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1em;
}

.scheduleTime {
  width: 130px;
}

.scheduleParticipant {
  display: inline;
  min-width: 170px;
}

.panelistName {
  text-transform: uppercase;
  min-width: 230px;
  line-height: 1.2em;

  p {
    padding-left: 0.6em;
  }
}

.panelistOrg {
  padding-left: 0.6em;
  line-height: 1.2em;

}

.scheduleTitle {
  margin-right: 0.5em;
}

@media all and (max-width: 750px) {
  .scheduleEvent {
    flex-direction: column;
    margin-bottom: 0.2em;
  }

  .scheduleDay {
    margin-bottom: 2em;

    div {
      padding-top: 3px;
    }
  }
}

@media all and (max-width: 640px) {
  .localPanelists {
    flex-direction: column;
    margin-bottom: 0.2em;
  }

  .scheduleDay {
    margin-bottom: 2em;

    div {
      padding-top: 3px;
    }
  }
}

// PATRONS

#patrons {
  margin-top: -30px;
}

#patronsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  //border: 1px solid red;
}

#patronsHeader {
  position: relative;
  background: url("../images/patrons_img.png") 0 0 no-repeat;
  width: 50%;
  height: 300px;

}

#patronsTitle {
  position: absolute;
  margin-left: 0.5em;
  right: 20px;
  top: 44px;
  font-family: Panton-LightCaps, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: white;
  font-size: 1.8em;
}

#patronsLogos {
  padding: 15px;
  width: 50%;
  height: 240px;
  margin-top: 18px;
  border: 1px solid lightgray;
  border-left: none;
}

.logo {
  width: 140px;
  height: 50px;
  //border: 1px solid green;
  float: left;
  margin: 5px;
}

#mc_gill {
  background: url("../images/mc_gill_logo.png") 0 50% no-repeat;
  background-size: 90%;

}

#museum_fine_arts {
  background: url("../images/montreal_museum_logo.png") 0 50% no-repeat;
  background-size: 90%;

}

#cirmmt {
  background: url("../images/cirmmt_logo.png") 0 50% no-repeat;
  background-size: 50%;

}

#le_salon {
  width: 90px;
  height: 60px;
  background: grey url("../images/LeSalon-logo.png") 50% 50% no-repeat;
  background-size: 70%;

}

@media all and (max-width: 640px) {
  #patronsWrapper {
    flex-direction: column;
    margin-bottom: 0.2em;
  }
  #patronsHeader {
    width: 100%;
    height: 100px;
  }
  #patronsLogos {
    padding: 15px;
    width: 100%;
    height: 240px;
    border: none;
  }

}
